@import '../variables.scss';
.cookie-disclaimer {
  z-index: 1200;
  position: fixed;
  bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  padding: 0.55rem;
  background-color: rgba($color: $primary, $alpha: 0.9);
  border-radius: 12px;

  p {
    color: #fff;

    a.marked-link {
      color: #fff;
      &::before {
        background: #fff;
      }
    }
  }

  .icon-container {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: rgba($color: #fff, $alpha: 0.25);

    button {
      height: 100%;
      padding: 0;
      background-color: transparent;
      border: 0px;
      border-radius: 12px;
    }

    i {
      padding: 0.5rem;
      font-size: 1.8rem;
      color: white;
    }
  }
}
