@import '../variables.scss';

.toast-wrapper {
  z-index: 1200 !important;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.toast {
  transition: all 150ms;
  display: flex;
  align-items: center;
  width: $toast_width;
  max-width: $toast_max_width;
  margin-top: 1em;
  padding: 0.5rem 0.75rem !important;
  background-color: $toast_background !important;
  border-radius: $toast_border_radius;
  -webkit-animation-name: $toast_fade_in_animation;
  -moz-animation-name: $toast_fade_in_animation;
  -o-animation-name: $toast_fade_in_animation;
  animation-name: $toast_fade_in_animation;
  -webkit-animation-fill-mode: $toast_fill_mode;
  -moz-animation-fill-mode: $toast_fill_mode;
  -o-animation-fill-mode: $toast_fill_mode;
  animation-fill-mode: $toast_fill_mode;
  -webkit-animation-duration: $toast_animation_duration;
  -moz-animation-duration: $toast_animation_duration;
  -o-animation-duration: $toast_animation_duration;
  animation-duration: $toast_animation_duration;
  -webkit-animation-delay: $toast_animation_duration;
  -moz-animation-delay: $toast_animation_duration;
  -o-animation-duration: $toast_animation_duration;
  animation-delay: $toast_animation_duration;
  &.fadeOut {
    -webkit-animation-name: $toast_fade_out_animation;
    -moz-animation-name: $toast_fade_out_animation;
    -o-animation-name: $toast_fade_out_animation;
    animation-name: $toast_fade_out_animation;
    -webkit-animation-fill-mode: $toast_fill_mode;
    -moz-animation-fill-mode: $toast_fill_mode;
    -o-animation-fill-mode: $toast_fill_mode;
    animation-fill-mode: $toast_fill_mode;
    -webkit-animation-duration: $toast_animation_duration;
    -moz-animation-duration: $toast_animation_duration;
    -o-animation-duration: $toast_animation_duration;
    animation-duration: $toast_animation_duration;
    -webkit-animation-delay: $toast_animation_duration;
    -moz-animation-delay: $toast_animation_duration;
    -o-animation-duration: $toast_animation_duration;
    animation-delay: $toast_animation_duration;
  }

  .button-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0.25rem;
  }

  &.toast-success .toast-icon,
  &.toast-success .dismiss {
    color: $success !important;
  }

  &.toast-info .toast-icon,
  &.toast-info .dismiss {
    color: $info !important;
  }

  &.toast-error .toast-icon,
  &.toast-error .dismiss {
    color: $error !important;
  }

  .toast-icon {
    margin-right: 0.5rem !important;
    font-size: 1.5rem;
    color: $success;
  }

  .toast-text {
    font-size: 1rem;
    color: $toast_text;
  }

  .dismiss {
    transition: 150ms;
    padding: 0.3rem 0.5rem;
    background-color: transparent;
    border-radius: $toast_border_radius;
    border: none;
    font-weight: 600;
    color: $success;
    &:hover {
      cursor: pointer;
      background-color: $toast_button_hover_background !important;
    }
  }
}
@media (max-width: 600px) {
  .toast-wrapper {
    left: 2.5%;
    right: 2.5%;
  }
  .toast {
    width: unset !important;
    max-width: unset !important;
  }
}

//
// Animations
//

// Fade-in
@-webkit-keyframes fadeInToLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInToLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInToLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

// Fade-out
@-webkit-keyframes fadeOutToRight {
  from {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
}
@-moz-keyframes fadeOutToRight {
  from {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
}
@keyframes fadeOutToRight {
  from {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
}
